

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #F8EDE3;
  color: #C5705D;
}
